Transform: AWS::Serverless-2016-10-31

Resources:
  Function:
    Type: AWS::Serverless::Function
    Properties:
      Runtime: python3.6
      CodeUri: lambda
      Handler: index.handler

  Macro:
    Type: AWS::CloudFormation::Macro
    Properties:
      Name: ShortHand
      FunctionName: !GetAtt Function.Arn
