Transform: Boto3

Resources:
  Repo:
    Type: AWS::CodeCommit::Repository
    Properties:
      RepositoryName: my-repo

  AddReadme:
    Type: Boto3::CodeCommit.put_file
    Mode: Create
    Properties:
      repositoryName: !GetAtt Repo.Name
      branchName: master
      fileContent: "Hello, world"
      filePath: README.md
      commitMessage: Add another README.md
      name: CloudFormation
